{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": false,
  "quoteProps": "consistent",
  "printWidth": 100,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}